.banner {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

@keyframes fadeInUpLetter {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.banner-content {
    z-index: 1;
    padding: 2rem;
    max-width: 90%;

    .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        z-index: -1;
        filter: brightness(0.6);
    }

    .animated-text {
        font-size: 60px;
        font-weight: 700;
        margin-bottom: 3.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.2rem;


        span {
            display: inline-block;
            opacity: 0;
            transform: translateY(20px);
            animation: fadeInUpLetter 0.5s forwards;

            &:nth-child(n) {
                animation-delay: calc(0.1s * var(--n));
            }
        }
    }

    p {
        font-size: var(--font-size-xl);
        max-width: 700px;
        margin: 0 auto 2rem;
        line-height: 1.6;
    }

    .cta-btn {
        display: inline-block;
        padding: 0.8rem 2rem;
        font-size: 2rem;
        background-color: var(--color-gold);
        color: var(--text-light);
        font-weight: bold;
        border-radius: 30px;
        transition: background 0.3s;

        &:hover {
            background-color: #e67e22;
        }
    }
}

/* Responsive */
@media screen and (width < 1024px) {
    .banner-content {
        .animated-text {
            font-size: 50px;
        }

        p {
            font-size: var(--font-size-lg);
        }
    }
}

@media (width < 768px) {
    .banner {
        .animated-text {
            font-size: 40px;
            gap: 0.1rem;
        }

        p {
            font-size: 1.8rem;
        }

    }



    .cta-btn {
        padding: 0.6rem 1.5rem;
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .animated-text {
        font-size: 1.8rem;
    }

    .banner-content p {
        font-size: 1.4rem;
    }

    .cta-btn {
        padding: 0.5rem 1.2rem;
    }
}